<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <!-- property name="connection.driver_class">com.mysql.jdbc.Driver</property -->
    <property name="connection.url">jdbc:mysql:///ganesh</property>
    <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
    <property name="connection.username">root</property>
    <property name="connection.password">root123</property>
    <property name="connection.pool_size">3</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    
    <property name='hibernate.hbm2ddl.auto'>update</property>
    
    <property name="hibernate.connection.provider_class"> org.hibernate.hikaricp.internal.HikariCPConnectionProvider" </property>
    <property name="hibernate.hikari.idleTimeout">60000</property>
	<property name="hibernate.hikari.maximumPoolSize">20</property>
	<property name="hibernate.hikari.minimumIdle">10</property> 
	<property name="hibernate.hikari.connectionTimeout">20000</property> 
    
    <mapping class="in.project.Model.Employee" />
    
  </session-factory>
</hibernate-configuration>